*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 60px;
    background-image: linear-gradient(peachpuff,darksalmon,seashell);
}
#child1{
    width: 60%;
    height: 550px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    float: left;
}
#child2{
    width: 30%;
    height: 100%;
    float: left;
    box-shadow: 0px 50px 50px ;
}
#parent{
    width: 1440px;
    height: 550px;
}
img{
    width: 100%;
    height: fit-content;
    
}
#greeting{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 50px;
}
#h1{
    margin-top: 180px;
}
p{
    padding: 30px;
    width: 60%;
}
h1:first-child{
    color: darksalmon;
    background-color:seashell;
    border-radius: 10px;
}
#child1,#child2,img{
    border-radius: 50px;
}